<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="cont">
      <h1>Audu's Weather Journal</h1>
      <form action="" method="post">
        <input
          class="city"
          type="text"
          required
          placeholder="Enter city name"
        />
        <textarea
          class="feel"
          id="feelings"
          placeholder="Enter your feelings here"
          rows="5"
          cols="50"
          required
        ></textarea>
        <input type="submit" class="but" value="Add to logs" />
      </form>
    </div>

    <div class="entries">
      <!-- <div class="entry">
        <div class="ent loc">Kaduna, Nigeria</div>
        <div class="day ent">tuesday</div>
        <div class="ent date">12/2/2021</div>
        <img
          src="https://openweathermap.org/img/wn/10d@2x.png"
          class="ent img"
        />
        <div class="ent temp">30.7℃</div>
        <div class="weath ent">cloudy</div>

        <div class="ent note">feelin' cute, might end it all later lmao</div>
        <div class="x">✖</div>
      </div> -->
    </div>
    <script src="app.js"></script>
  </body>
</html>
