<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="cont">
      <h1 style="text-align: center">New File</h1>
      <input
        required
        class="input"
        placeholder="User Name"
        type="text"
        id="userName"
      />
      <input
        required
        class="input"
        type="password"
        placeholder="Password"
        id="password"
      />
      <button class="input sub" style="color: white" type="submit"></button>
      <script src="signup.js"></script>
    </div>
  </body>
</html>
