<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="display: flex; flex-direction: column">
    <div class="cont">
      <h1 style="text-align: center">New File</h1>
      <form action="" method="post">
        <input required class='input' placeholder='Name' "text" id="name" />

        <input
          required
          class="input"
          placeholder="Email"
          type="email"
          id="email"
        />

        <input
          required
          class="input"
          placeholder="Age"
          type="number"
          id="age"
        />

        <input
          required
          class="input"
          placeholder="User Name"
          type="text"
          id="userName"
        />

        <input
          required
          class="input"
          type="password"
          placeholder="Password"
          id="password"
        />

        <button class="input sub" style="color: white" type="submit">
          Submit
        </button>
      </form>
    </div>
    <script src="signup.js"></script>
  </body>
</html>
