@font-face {
  font-family: jak;
  src: url("PlusJakartaSans-VariableFont_wght.ttf");
}
body {
  font-family: jak;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(255, 247, 247);
}
h1 {
  text-align: center;
  color: rgb(63, 59, 59);
}
input,
textarea {
  margin: 15px auto;
  box-shadow: 0 0 6px rgb(142, 135, 240, 0.4);
  display: block;
  padding: 10px;
  font-size: 0.9em;
  width: 70%;
  border-radius: 5px;
  border: 1px solid rgb(142, 135, 240, 0.6);
}
.feel {
  height: 100px;
  /* line-height: 150px; */
  vertical-align: bottom;
  margin-bottom: 10px;
  font-size: 1em;
  font-family: jak;
}

.but {
  cursor: pointer;
  background-color: white;
  width: 73%;
}
.but:hover,
.entry:hover {
  color: white;
  background-color: rgb(63, 59, 59);
}

.entries {
  margin: 100px 20px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
}

.entry {
  position: relative;
  padding: 20px 8px 70px 8px;
  border-radius: 10px;
  text-align: center;
  background: rgb(142, 135, 240);

  box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
  color: black;
}
img {
  margin-bottom: 0;
}

.ent {
  margin-bottom: 5px;
}
.temp {
  font-size: 2em;
  position: relative;
  transform: translateY(-15px);
}
.weath {
  position: relative;
  transform: translateY(-20px);
  margin-bottom: 0;
}
.loc {
  position: relative;
  transform: translateY(5px);
  font-size: 1.1em;
}
.date {
  position: relative;
  transform: translateY(7px);
}
.day {
  font-size: 0.9em;
  margin-bottom: 0;
}
.x {
  position: absolute;
  right: 8px;
  top: 10px;
  cursor: pointer;
}
.cond,
.humid {
  display: flex;
  justify-content: space-around;
}
.cont {
  margin: 0;
}

.note {
  position: relative;
  transform: translateY(15px);
}

.img {
  margin-bottom: 0;
}

@media (max-width: 540px) {
  .entries {
    margin: 100px 20px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 280px) {
  .entries {
    margin: 100px 20px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(1, 1fr);
  }
}
